<div class="splash bevel-up">
    <h1 class="splash__heading"><dms-engraved>Daykin Marshall Studio</dms-engraved></h1>    
    {#<div class="splash__dot"></div>#}
    
    <div class="splash__video">
        {% include 'components/video/video' with { video: shuffle(entry.splashVideo)[0] } only %}
    </div>
</div>
