<div class="splash text-xxl bevel-up">
    <h1><dms-engraved>Daykin Marshall Studio</dms-engraved></h1>    
    <div class="splash__dot"></div>
    
    {% include 'components/video/video' with { video: entry.splashVideo.one() } only %}
</div>
