{% set images = images ?? [] %}

{% set ratio = max( images | map( img => img.height / img.width ) | merge([ 0 ]) ) %}

<dms-slider class="grid grid--fill">
    <div class="s-col-10 xxl-col-11">
        <div slides style="padding-bottom: {{ ratio * 100 }}%">
            {% for img in images %}
                <div slide class="fill">
                    {% include 'components/image/image' with {
                        asset: img,
                        ratio: false,
                        attrs: { class: 'fill' }
                    } only %}
                    <div class="fill bevel-up no-pointer"></div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="s-col-2 xxl-col-1 bevel-button bg-grey x xjc" slider-next>
        <div class="slider__button-track">
            <div class="slider__button xs0"></div>
        </div>
    </div>
</dms-slider>