{% set images = images ?? [] %}

{% set ratio = images | length ? max( images | map( img => img.height / img.width ) ) : 0 %}

{% set offset = 0 %}
{% switch position %}
    {% case 'left' %}
        {% set offset = 0 %}
    {% case 'center' %}
        {% set offset = ( 12 - ( size.value + 2 ) ) / 2 %}
    {% case 'right' %}
        {% set offset = 12 - ( size.value + 2 ) %}
{% endswitch %}

<dms-slider class="grid grid--fill s-pad-bottom-5">
    <div class="s-col-1  m-off-{{ offset }} bg-grey x xjc" slider-prev>
        <div class="slider__button-track">
            <div class="slider__button xs0"></div>
        </div>
    </div>
    <div class="oh s-col-10 m-col-{{ size.value }}">
        <div slides slides-transition="{{ transition }}" style="padding-bottom: {{ ratio * 100 }}%">
            {% for img in images %}
                <div slide class="fill">
                    {% include 'components/image/image' with {
                        asset: img,
                        ratio: false,
                        attrs: { class: 'cover' }
                    } only %}
                    <div class="fill bevel-up no-pointer"></div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="s-col-1 bg-grey x xjc" slider-next>
        <div class="slider__button-track">
            <div class="slider__button xs0"></div>
        </div>
    </div>
</dms-slider>