.slider {
    &__next {
        cursor: pointer;
    }
    &__button-track {
        padding: calc( 50% - .5em ) 0;
        @include small {
            width: 100%;
            @include bevel-button( 1 );
        }
    }
    &__button {
        width: 1em;
        height: 1em;
        cursor: pointer;
        z-index: 40;
        @include bevel-button( 1 );
        position: sticky;
        top: calc( 50vh - .5em );
        left: 50%;
        display: none;
        [slider-next]:hover & {
            @include bevel-button-pressed;
        }
        &:before, &:after {
            border-radius: 50%;
        }
        @include medium {
            display: block;
            width: 1.5em;
            height: 1.5em;
        }
    }
}

[slides][slides-transition="slide"] {
    transition: transform .8s;
}

[slider-next], [slider-prev] {
    cursor: pointer;
}

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: absolute;
  height: 100%;
}
.swipe-wrap > * {
  float: left;
  width: 100%;
  position: relative;
  
}

// [slide] {
//     img {
//         opacity: 0;
//         transition: opacity 0s .4s;
//     }
//     &[active] img {
//         opacity: 1;
//         transition: opacity .4s .4s;
//     }
// }