<nav>
    {% for text, url in {
        "Daykin Marshall Studio": "/",
        "People": "#{ siteUrl }people",
        "Making": "#{ siteUrl }making",
        "Buildings": "#{ siteUrl }buildings"
    } %}
        <dms-hover url="{{ url }}">
            <a class="s-pad-half bg-grey" href="{{ url }}">
                <dms-engraved darkness=8>{{ text }}</dms-engraved>
            </a>
        </dms-hover>
    {% endfor %}
</nav>