:root {
    --nav-size: 2rem;
    --nav-width: 100vw;
    // @include large {
    //     --nav-width: calc( 100vw * 6/7 );
    // }
}



.nav {
    position: fixed;
    z-index: 1000;
    width: var( --nav-width );
    height: 100%;
    // background-color: var( --background-color );
    top: 0;
    left: 0;
    // transform: translateX( -100% );
    transition: transform .3s;
    display: none;
    font-size: 1.5rem;
    line-height: 1.15;
    font-weight: bold;
    @include medium {
        font-size: 2.25rem;
    }
    
    
    .nav-open & {
        display: block;
        // transform: none;
    }
    
    &__bg {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    
    &__dot {
        position: fixed;
        top: var( --gutter );
        left: var( --gutter );
        z-index: 2000;
        width: var( --nav-size );
        height: var( --nav-size );
        border-radius: var( --nav-size );
        background-color: var( --background-color );
        cursor: pointer;
        transition: all .3s;
        @extend .bevel-up;
        .splash-on & {
            visibility: hidden;
        }
        &:hover {
            @extend .bevel-down;
        }
        .nav-open & {
            background-color: transparent;
        }
    }
    
    &__group {
        position: absolute;
        ul {
            list-style: none;
            margin: 0;
            
            
        }
        
        &--tl {
            top: calc( var( --gutter ) * 6 );
            left: calc( calc( var( --gutter ) * 2 ) + ( var( --nav-size ) );
            @include small {
                li {
                    margin-top: 0.2em;
                }    
            }
            @include medium {
                top: calc( var( --gutter ) * 0.75 );
            }
        }
        
        &--bl {
            bottom: calc( var( --gutter ) * 9 );
            left: calc( calc( var( --gutter ) * 2 ) + ( var( --nav-size ) );
            @include small {
                li {
                    margin-top: 0.2em;
                }    
            }
            @include medium {
                bottom: var( --gutter );
            }
            @include small {
                &--address {
                    bottom: calc( var( --gutter ) * 13 );
                }
            }
        }
        
        &--tr {
            top: var( --gutter );
            left: calc( calc( var( --gutter ) * 2 ) + ( var( --nav-size ) );
        
            @include medium {
                top: calc( var( --gutter ) * 0.75 );
                left: auto;
                right: var( --gutter );
                text-align: right;
            }
        }
        
        &--br {
            left: calc( calc( var( --gutter ) * 2 ) + ( var( --nav-size ) );
            bottom: var( --gutter );
            @include small {
                li {
                    margin-top: 0.2em;
                }    
            }
            @include medium {
                left: auto;
                right: var( --gutter );
                text-align: right;
            }
        }
    }
}