:root {
    --bevel-dark: rgba( 0, 0, 0, .3 );
    --bevel-light: rgba( 255, 255, 255, 1 );
    --bevel-size: 2px;
    --shadow-color: rgba( 0, 0, 0, .1 );
}

@mixin _bevel ( $dx, $dy ) {
    box-shadow:
    
        inset
        calc( var( --bevel-size ) * #{ -.5 * $dx } )
        calc( var( --bevel-size ) * #{ -.5 * $dy } )
        var( --bevel-size )
        var( --bevel-dark ),
        
        inset
        calc( var( --bevel-size ) * #{ .5 * $dx } )
        calc( var( --bevel-size ) * #{ .5 * $dy } )
        var( --bevel-size )
        var( --bevel-light );
}

@mixin bevel ( $d ) {
    @include _bevel( -1 * $d, 1 * $d );
}

@mixin bevel-button ( $d: 1 ) {
    &:before, &:after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        pointer-events: none;
        transition: opacity .1s .1s;
    }
    &:before {
        @include bevel( 1 * $d );
    }
    &:after {
        @include bevel( -1 * $d );
        opacity: 0;
    }
}

@mixin bevel-button-pressed {
    transition: opacity .1s;
    &:before {
        opacity: 0;
    }
    &:after {
        opacity: 1;
    }
}

.bevel-up {
    @include bevel( 1 );
}

.bevel-down {
    @include bevel( -1 );
}

.bevel-button {
    @include bevel-button;
    &:hover {
        @include bevel-button-pressed
    }
}