@font-face {
    src: url(/static/fonts/MonumentGrotesk-Regular.otf);
    font-family: "Monument Grotesk";
}

@font-face {
    src: url(/static/fonts/MonumentGrotesk-Italic.otf);
    font-family: "Monument Grotesk";
    font-style: italic;
}

@font-face {
    src: url(/static/fonts/MonumentGrotesk-Medium.otf);
    font-family: "Monument Grotesk";
    font-weight: bold;
}

@font-face {
    src: url(/static/fonts/MonumentGrotesk-MediumItalic.otf);
    font-family: "Monument Grotesk";
    font-weight: bold;
    font-style: italic;
}