@font-face {
    src: url(/static/fonts/MonumentGroteskTrial-Medium.otf);
    font-family: "Monument Grotesk";
}

@font-face {
    src: url(/static/fonts/MonumentGroteskTrial-MediumItalic.otf);
    font-family: "Monument Grotesk";
    font-style: italic;
}

@font-face {
    src: url(/static/fonts/MonumentGroteskTrial-Bold.otf);
    font-family: "Monument Grotesk";
    font-weight: bold;
}

@font-face {
    src: url(/static/fonts/MonumentGroteskTrial-BoldItalic.otf);
    font-family: "Monument Grotesk";
    font-weight: bold;
    font-style: italic;
}