html, body {
    width: 100vw;
    min-height: 100%;
    overflow: hidden;
}

a {
    text-decoration: none;
}

img, video {
    width: 100%;
    display: block;
}

.fill, .cover, .contain {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.cover, .contain {
    object-position: center center;
}

.cover {
    object-fit: cover;
}

.contain {
    object-fit: contain;
}

.db {
    display: block;
}