:root {
    --gutter: calc( var( --line ) / 2 );
    @include medium {
        --gutter: var( --line );
    }
    // --gutter: 14px;
    // @include medium {
    //     --gutter: 16px;
    // }
    // @include large {
    //     --gutter: 28px;
    // }
}

.grid {
    display: flex;
    flex-wrap: wrap;
    // &--gutter {
        padding-left: calc( var( --gutter ) / 2 );
        padding-right: calc( var( --gutter ) / 2 );
        & > [class*="-col-"] {
            padding-left: calc( var( --gutter ) / 2 );
            padding-right: calc( var( --gutter ) / 2 );
            // & > .grid--gutter {
            //     margin-left: calc( var( --gutter ) * -1 );
            //     margin-right: calc( var( --gutter ) * -1 );
            // }
        }
    // }
}

[class*="-col-"] {
    flex-grow: 0;
    flex-shrink: 0;
}

@mixin columns ( $prefix ) {
    @for $i from 1 through 12 {
        .#{ $prefix }-col-#{ $i } {
            width: 100% * $i / 12;
        }
    }
}

@mixin offsets ( $prefix ) {
    @for $i from 0 through 11 {
        .#{ $prefix }-off-#{ $i } {
            margin-left: 100% * $i / 12;
        }
    }
}

@mixin grid ( $prefix ) {
    @include columns ( $prefix );
    @include offsets ( $prefix );
}

@include grid( 's' );
@include medium {
    @include grid( 'm' );
}
@include large {
    @include grid( 'l' );
}
@include xlarge {
    @include grid( 'xl' );
}
@include xxlarge {
    @include grid( 'xxl' );
}