:root {
    --nav-width: 35em;
}

nav {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    box-shadow: 0px 30px 30px var( --shadow-color );
    z-index: 1000;
    @include medium {
        top: var( --line );
        max-width: var( --nav-width );
    }
    & > * {
        flex-grow: 1;
        &:first-child {
            width: 100%;
        }
    }
    a {
        display: block;
        @include bevel-button;
    }
    dms-hover[matches-hover] a,
    dms-hover[matches-route] a {
        @include bevel-button-pressed;
    }
}