:root {
    --line-height: 1.25;
    --line: calc( var( --line-height ) * 1rem );
}

html {
    line-height: var( --line-height );
    font-family: "Monument Grotesk", sans-serif;
    color: var( --text-color );
    -webkit-font-smoothing: antialiased;
    @include medium {
        font-size: 18px;
    }
}


.sans {
    font-family: "Monument Grotesk", sans-serif;
}

.mono {
    font-family: "Monument Grotesk Mono", monospace;
    line-height: calc(var( --line-height ) * 1.1);
    
    // &--s {
    //     font-size: 0.8em;
    // }
}

.line-break {
    margin-bottom: 1em;
}

.text-indent {
    text-indent: 1em;
    @include medium {
        text-indent: 3em;
    }
    span {
        text-indent: 0;
    }
    &--not-first {
        p:first-of-type {
            text-indent: 0;
        }
    }
}

.text-center {
    text-align: center;    
}

.text-s {
    font-size: 0.85rem;   
}

.text-m {
    @include medium {
        font-size: 1.5rem;
    }
}

.text-l {
    font-size: 1.5rem;
    font-weight: bold;
    @include medium {
        font-size: 2rem;
    }
}

.text-xl {
    font-size: 2rem;
    line-height: 1.15;
    font-weight: bold;
    @include medium {
        font-size: 2.25rem;
    }
}

.text-xxl {
    font-size: 2.5rem;
    line-height: 1;
    @include medium {
        font-size: 4rem;
    }
    @include large {
        line-height: 1.25;
        font-size: 6rem;
    }
}

p {
    // margin-bottom: calc( 1em * var( --line-height ) );
    margin-bottom: 1em;

    &.nomargin {
        margin-bottom: 0;
    }
    .nomargin & {
        margin-bottom: 0;
    }
    a {
        border-bottom: 1px solid var( --background-color );
        &:hover {
            border-bottom: 1px solid var( --text-color );
        }
    }
}

.text-right {
    text-align: right;
}