{% set post = posts ?? [] %}
{% set align = align ?? 'left' %}

{#{% set padding = craft.app.request.url == '/' or craft.app.request.url == '/buildings' ? 's-pad-top-8' : 's-pad-top-50vh' %}#}

<div class="grid s-gap-bottom-5 s-pad-top-8 {{ align == 'center' ? 'xja' : '' }}">
    <div class="s-col-12 l-col-8 x xw {{ align == 'center' ? 'xja' : '' }}">
        {% for post in posts %}
            {% include 'components/post/post' with { post: post } only %}
        {% endfor %}
    </div>
</div>