<div class="archive-nav x xdr xje xw text-s mono">

    {% set cats = craft.categories.group('category').find() %}

    <div class="archive-nav__item">
        <a href="/archive?category=buildings">Buildings</a>
    </div>

    {% for cat in cats %}
    <div class="archive-nav__item">
        <a href="/archive?category={{ cat.slug }}" class="">{{ cat.title }}</a>
    </div>
    {% endfor %}


</div>
