.archive-nav {
    max-width: 80%;
    position: absolute;
    right: var( --gutter );
    margin-top: var(--gutter);
    &__item {
        display: block;
        padding-left: var( --gutter );
        a {
            &:hover {
                border-bottom: 1px solid var( --text-color );
            }
        }

    }
}