<div class="grid bevel-up introduction s-pad-top-50vh">
    <div class="s-col-12">
        <div class="text-xl s-pad-bottom-4 text-indent text-indent--not-first">
            {% for para in paragraphs %}
                <p class="nomargin"><dms-engraved>{{ para.paragraph }}</dms-engraved></p>
            {% endfor %}
        </div>
    </div>
</div>