{% extends "layout" %}
{% set right_side = true %}
{% set posts = entry.secondaryItems.all() %}

{% set headerVideo = entry.headerVideo.one %}

{% block content %}
    {% include 'components/hero/hero' with {
        title: entry.title,
        video: entry.headerVideo | length ? entry.headerVideo.one : null,
        image: entry.headerImage | length ? entry.headerImage.one : null
    } only %}
    {#<div class="grid bevel-up">#}
    {#    <div class="s-col-12">#}
    {#        <div class="s-pad-bottom-2 m-pad-bottom-4 hero">#}
    {#            <h1 class="text-xxl text-center hero__title">#}
    {#                <dms-engraved>{{ entry.title }}</dms-engraved>#}
    {#            </h1>#}
    {#            <div class="hero__asset">#}
    {#                {% if headerVideo %}#}
    {#                    {% include 'components/video/video' with { video: headerVideo } %}#}
    {#                {% else %}#}
    {#                    {% for asset in entry.thumbnail.all %}#}
    {#                        {% include 'components/image/image' with { asset: asset } only %}#}
    {#                    {% endfor %}#}
    {#                {% endif %}#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
    {#</div>#}
    {% include 'components/blocks/blocks' with { blocks: entry.blocks } only %}
    {% include 'components/footer/footer' %}
{% endblock %}