{% extends "layout" %}
{% set posts = craft.entries
    .section('posts')
    .search('tags:making')
    .all() %}
{% block content %}
    <div class="grid">
        <div class="s-col-12">
            <div class="text-xl s-pad-bottom-4">
                {% for para in entry.introduction %}
                    <p class="nomargin"><dms-engraved>{{ para.paragraph }}</dms-engraved></p>
                {% endfor %}
            </div>
        </div>
    </div>
    
    {% for item in entry.process %}
        
        {% include 'components/process-item/process-item' %}
    
    {% endfor %}
{% endblock %}