{% extends "layout" %}
{% set right_side = true %}
{% set posts = entry.secondaryItems.all() %}

{% set headerImage = entry.headerImage.one() %}
{% set collaborators = entry.collaborators.all %}

{% block content %}
    
    
    <div class="grid grid--fill collaborators collaborators--reverse">
        <div class="s-col-12 l-col-6 bevel-up text-m">
                    test left
        </div>
        <div class="s-col-12 l-col-6 bevel-up text-m">
                    test right
        </div>
    </div>


    {% if headerImage | length %}
        {% include 'components/header-image/header-image' with { img: headerImage } %}
    {% endif %}

    <div class="s-pad-top-half m-pad-top-1">
        {% include 'components/blocks/blocks' with { blocks: entry.blocks } only %}
    </div>
    
    {% include 'components/collaborators/collaborators' with { items: collaborators} %}
    {% include 'components/blocks/text/text/' with { heading: false, copy: entry.collaboratorText } %}
    {% include 'components/footer/footer' %}
    
    
{% endblock %}