{% extends "layout" %}
{% block livePreview %}
    <div class="grid bg-grey">
        <div class="s-col-11 m-col-6">
            <div class="grid">
                <div class="s-col-12 s-gap-top-1">
                    {% include 'components/post/post/' with { post: entry } only %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}