dms-panels {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    --width-small: 5rem;
    --width-large: calc( 100vw - var( --line ) * 1.5 );
    @include medium {
        --width-small: calc( 100vw / 7 );
        --width-large: calc( 100vw - var( --width-small ) );
    }
    @include xxlarge {
        --width-small: calc( 100vw / 13 );
    }
}