dms-hero {
    display: block;
    .hero__image {
        height: 60vh;    
        width: 100%;
        @include large {
            height: 100vh;    
        }
        img, video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .hero__title-sticky {
        position: sticky;
        top: 60vh;
        height: 0;
        @include large {
            top: 100vh;
        }
    }
    .hero__title {
        transform: translateY(-100%);
        padding: var(--gutter);
        @include medium {
            text-align: right;
        }
    }
    // &__title {
    //     z-index: 10;
    //     position: sticky;
    //     top: 0;
    //     padding-top: 40vh;

    //     @include medium {
            
    //     }
    // }
    // &__asset {
    //     margin-top: -1.25em;
    //     margin-bottom: 1.25em;
    //     @include medium {
    //         margin-top: -2em;
    //         margin-bottom: 2em;
    //     }
    //     @include large {
    //         margin-top: -3em;
    //         margin-bottom: 3em;
    //     }
        
    // }
}