{% set images = item.images.all() %}

<div class="process-item s-pad-bottom-2 m-pad-bottom-6">
    <div class="grid s-pad-bottom-1">
        <div class="s-col-12 m-col-6 m-off-3">
            <p class="nomargin text-indent">
               {{ loop.index }}
            </p>
            <p class="text-indent">
               {{ item.heading }}
            </p>
            <div class="nomargin text-indent">
                {{ item.copy }}
            </div>
        </div>
    </div>
    
    {% include 'components/blocks/slider/slider' with { images: images } %}
</div>