{% set images = item.images.all() %}

<div class="process-item s-pad-top-4{% if not loop.last %} s-pad-bottom-4{% endif %}">
    <div class="grid s-pad-bottom-1">
        <div class="s-col-12 m-col-10 m-off-1 l-col-8 l-off-2 xl-col-6 xl-off-3">
            <p class="nomargin text-indent">
               {{ loop.index }}
            </p>
            <p class="text-indent">
               {{ item.heading }}
            </p>
            <div class="nomargin text-indent">
                {{ item.copy }}
            </div>
        </div>
    </div>
    {% include 'components/blocks/slider/slider' with { images: images } %}
</div>